.App {
  text-align: center;
  margin: 0 auto;

  .wrap {
    position: relative;
    max-width: 1200px;
    margin: 140px auto 0;
  }
  .card {
    display: flex;
    padding: 20px;
    border: 1px solid grey;
    box-shadow: 0 0 0 5px darkgray;
    flex-basis: calc(33.333% - 40px);
    flex-grow: 1;
    flex-shrink: 0;
    margin: 0 20px 20px 20px;
    background: white;
    position: relative;
  }
  .card-image {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    margin: 0 2rem 0 0;
    border: 0;
    padding: 0;
    flex: 1 0 60%;
    max-width: 60%;
  }
  /*max-width: 1200px;*/
  @media (max-width: 767px) {
    max-width: none
  }
}

